
  .notfound-container{
    display:flex;
    background-color: darkblue;
    color:aliceblue;
    font-size:100px;
    text-align:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

  }

  .error{
    top:5000px;
    align-content: center;
  }

  .title{
    font-size:28px;
    font-weight:bold;
    line-height:400%
  }

 .detailcontainer{
    left:30vh;
    
 }

 
 .vote{
    
    line-height:400%;
    font-weight: bold;
 }

 .contents{
    line-height:230%;
 }

 .error-container{
    background-color: rgb(7, 7, 61);
    width:100%;
    height: 100%;
 }