.root-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}


.header-container{
    background-color: rgb(8, 8, 35);
    /*헤더 고정시키기 위한 속성*/
    position: fixed;
    top: 0; /* 화면의 맨 위에 고정 */
    left: 0;
    width: 100%; /* 화면 전체의 너비를 차지 */
    z-index: 1000; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
    height:50px;
}

.header-wrap{
    height: 50px; /*높이*/
    width: 100%;
    margin: 0 auto; /* 가운데 정렬 하기 위해 */

    display: flex; /*세로 정렬 위해서*/
    align-items: center; /*세로 정렬 위해서*/
    justify-content: space-between; /*wrap right 와 left 분산 정렬*/
}

.header-left-wrap{
    display: flex;
    margin-right: 14px; /*버튼 따닥따닥 붙어 있는거 띄워주기*/
    padding: 8px;/*버튼 선택 영역 늘리기*/
}

.header-right-wrap{
    display: flex;
}

.header-right-wrap ul{
    display: flex; /*ul 태그에 display flex 해줘서 세로방향으로 나열되어있던 버튼들 가로방향 나열하게 됨*/
}

.header-right-wrap li{
    margin-right: 14px; /*버튼 따닥따닥 붙어 있는거 띄워주기*/
    padding: 8px;/*버튼 선택 영역 늘리기*/
}

.UMCMovie{
    margin:40px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.header-nav-item{
    right:50px;
    color: white;
    text-decoration: none; /*밑줄 없애기*/
    display: inline-block; /* 인라인 요소로 변경하여 자동으로 너비 조정 */
    padding: 5px 10px; /* 상하 여백 5px, 좌우 여백 10px */
    transition:all 0.1s ease-in-out;
    width:100%
}

.header-nav-item:clicked{
    color:gold;
}

.header-nav-signup{
    font-weight:bold;
    right:50px;
    color: gold;
    text-decoration: none; /*밑줄 없애기*/
    display: inline-block; /* 인라인 요소로 변경하여 자동으로 너비 조정 */
    padding: 5px 10px; /* 상하 여백 5px, 좌우 여백 10px */
    transition:all 0.1s ease-in-out;
    width:100%
}


.header-nav-item:hover {
    font-weight: bold; /* 글씨 두껍게 */
    width: 100%; /* 글자 크기 증가 */
}

.footer-wrap {
    display: none;
}

.mainpage-conatiner{
    height: 100%;
    width: 100%;
}

.mainpage-top{
    height: 250px;
    width:100%;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 150%;

    display: flex; /* 요소를 수평 또는 수직 정렬하기 위해 flex 사용 */
    flex-direction: column; /* 아이템을 세로 방향으로 배치 */
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */

}

.mainpage-down{
    height: 100vh;
    display: flex; 
    flex-direction: column; /* 아이템을 세로 방향으로 배치 */
    align-items: center; /* 수평 중앙 정렬 */
    background-color: rgb(7, 7, 61);
}

.mainpage-down-title {
    margin-bottom: 20px; /* 요소들 간 간격 조절 */
    margin-top: 40px;
    color: white;
    font-size: 200%;
}


.mainpage-down-input {
    margin-bottom: 20px; /* 요소들 간 간격 조절 */
    margin-top: 20px;
    
}

.titleinput {
    width: 300px;
    height: 30px;
    border-radius:20px;
}

.titlebutton{
    width:30px;
    height: 30px;
    margin-top: 25px;
    border-radius: 50px;
    margin-left: 20px;
    background-color: yellow;
}

.mainpage-down-wrap{
    display: flex;
}

.app-container{
    background-color: rgba(3, 37, 65, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px;
    padding-top:80px;
  }
  
  .movie-container{
    width: 250px;
    margin: 16px;
    background-color: #373b69;
    color: white;
    border-radius: 5px;
    position: relative;
  }
  
  .movie-container img{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
    max-width: 100%;
  }
  
  .movie-info{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .movieinfo-container{
    display: none;
    position: absolute;top: 0;
    width: 100%; /* movie-container의 너비에 맞게 설정 */
    height: 100%; /* movie-container의 높이에 맞게 설정 */
    background-color: rgba(0, 0, 0, 0.8); /* 투명한 검은 배경색 */
    color: white;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    margin-top:100000px;
  }
  
  .movie-container:hover .moviedetail-container{
    display: block;
  }

  .notfound-container{
    display:flex;
    background-color: darkblue;
    color:aliceblue;
    font-size:100px;
    text-align:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

  }

  .error{
    top:5000px;
    align-content: center;
  }

  .title{
    font-size:28px;
    font-weight:bold;
    line-height:400%
  }

 .detailcontainer{
    left:30vh;
    
 }

 
 .vote{
    
    line-height:400%;
    font-weight: bold;
 }

 .contents{
    line-height:230%;
 }

 .error-container{
    background-color: rgb(7, 7, 61);
    width:100%;
    height: 100%;
 }